node_modules/
dist/

*.class

*.py[cod]

*.log

*.jar

target/
dist/

.idea/

TEST*.xml

*.app
*.exe
*.war

*.old

/build/
/cmake-build-debug/
/cmake-build-minsizerel/
/cmake-build-release/
/cmake-build-relwithdebinfo/
/cmake-build-tests/
/cmake-versions/
